h1 {
  text-align: center;
}
Footer {
  color: black;
  display: block;
  text-align: center;
}
Footer a,
Footer a:visited {
  color: black;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
Footer a:hover {
  color: #f7630c;
  cursor: pointer;
  text-decoration: underline;
}
